# (1 & 2) Importing and Preparations

In [ ]:
#DISCLAIMER: Tidak ada data yang disediakan jadi kita akan membuat data randomized dengan Numphy

In [197]:
import pandas as pd
import seaborn as sns
import numpy as np
import random
import os

In [141]:
import pandas as pd

# Membuat DataFrame kosong menggunakan Pandas dengan kolom Name, Age, City
data = pd.DataFrame(columns=['Name', 'Age', 'City'])

# Tentukan jumlah baris
n_rows = 20

# Display DataFrame utk bukti sudah terbuat
print(data)

Empty DataFrame
Columns: [Name, Age, City]
Index: []

# Creating Randomized Datas (Using Numphy and Random)

In [144]:
# Menggunakan List kita beri list nama yg akan dirandomize
names = [
    'Andi', 'Budi', 'Citra', 'Dewi', 'Eko', 'Fitri', 'Gilang', 'Hadi',
    'Indra', 'Joko', 'Kartika', 'Lina', 'Mira', 'Nina', 'Oka', 'Putri',
    'Rizky', 'Sari', 'Taufik', 'Umi', 'Vina', 'Wawan', 'Xaverius', 'Yuni',
    'Zainal', 'Bagus', 'Cahya', 'Dian', 'Evi', 'Farhan', 'Gita', 'Hasan',
    'Irma', 'Jefri', 'Kartini', 'Lukman', 'Maya', 'Nanda', 'Oni', 'Rina'
]
cities = [
    'Jakarta', 'Denpasar', 'Surabaya', 'Bandung', 'Manado', 'Jambi'
]

# Generate baris secara random menggunakan list yang sudah dibuat (utk Ages tidak perlu list karena bisa tentukan minimal maximal angka)
random_names = np.random.choice(names, n_rows)
random_ages = np.random.randint(15, 40, n_rows)
random_cities = np.random.choice(cities, n_rows)

# sekarang kita masukkan ke Dataframe array di atas yang sudah digenerate random data nya
data = pd.DataFrame({
    'Name': random_names,
    'Age': random_ages,
    'City': random_cities
})

# Display Dataframe
print(data)

       Name  Age      City
0       Umi   37  Surabaya
1      Sari   28  Surabaya
2       Eko   38     Jambi
3     Cahya   27     Jambi
4     Jefri   36     Jambi
5      Budi   16  Denpasar
6      Gita   37   Jakarta
7      Budi   24   Jakarta
8     Nanda   16     Jambi
9     Rizky   36   Jakarta
10   Lukman   27    Manado
11     Mira   37  Denpasar
12     Budi   16     Jambi
13  Kartika   27   Jakarta
14   Zainal   17  Surabaya
15     Hadi   38  Surabaya
16    Hasan   20   Jakarta
17     Dewi   33   Jakarta
18   Lukman   33    Manado
19     Vina   20  Denpasar

# (3) Gunakan metode Pandas yang tepat untuk menampilkan lima baris pertama dari DataFrame "data"

In [147]:
print(data.head(5)) # head(5) berarti menunjukkan first 5 rows

    Name  Age      City
0    Umi   37  Surabaya
1   Sari   28  Surabaya
2    Eko   38     Jambi
3  Cahya   27     Jambi
4  Jefri   36     Jambi

# (4) Tambahkan kolom baru “Gender”, “Alamat”, dan “Pekerjaan” ke DataFrame "data" dan menampilkan DataFrame yang telah diubah.

In [150]:
#Beri kolom baru dengan default data 'none'
data['Gender'] = None
data['Alamat'] = None
data['Pekerjaan'] = None

# Display DataFrame utk bukti sudah terbuat
print(data)

       Name  Age      City Gender Alamat Pekerjaan
0       Umi   37  Surabaya   None   None      None
1      Sari   28  Surabaya   None   None      None
2       Eko   38     Jambi   None   None      None
3     Cahya   27     Jambi   None   None      None
4     Jefri   36     Jambi   None   None      None
5      Budi   16  Denpasar   None   None      None
6      Gita   37   Jakarta   None   None      None
7      Budi   24   Jakarta   None   None      None
8     Nanda   16     Jambi   None   None      None
9     Rizky   36   Jakarta   None   None      None
10   Lukman   27    Manado   None   None      None
11     Mira   37  Denpasar   None   None      None
12     Budi   16     Jambi   None   None      None
13  Kartika   27   Jakarta   None   None      None
14   Zainal   17  Surabaya   None   None      None
15     Hadi   38  Surabaya   None   None      None
16    Hasan   20   Jakarta   None   None      None
17     Dewi   33   Jakarta   None   None      None
18   Lukman   33    Manado   None   None      None
19     Vina   20  Denpasar   None   None      None

# Creating Randomized Datas (Using Numphy and Random) for Gender, Alamat, Pekerjaan

In [165]:
# Menggunakan List kita beri list nama yg akan dirandomize
Gender = [
    'Laki-Laki', 'Perempuan'
]
Alamat = [
    'Jl. Raya 1', 'Jl. Raya 2', 'Jl. Raya 3', 'Jl. Raya 4', 'Jl. Raya 5', 'Jl. Raya 6', 'Jl. Raya 7', 'Jl. Raya 8', 'Jl. Raya 9', 'Jl. Raya 10'
]
Pekerjaan = [
    'Guru', 'Polisi', 'PNS', 'Dokter', 'Akuntan', 'Business Analyst', 'Influencer', 'Diplomat', 'Business Owner', 'Nelayan', 'Petani'
]

# Generate baris secara random menggunakan list yang sudah dibuat
random_alamat = np.random.choice(Alamat, n_rows)
random_pekerjaan = np.random.choice(Pekerjaan, n_rows)

#Generate gender berdasarkan nama
def assign_gender(name):
    if name in [
        'Andi', 'Budi', 'Eko', 'Gilang', 'Hadi', 'Indra', 'Joko', 
        'Oka', 'Rizky', 'Taufik', 'Wawan', 'Xaverius', 'Zainal', 
        'Bagus', 'Cahya', 'Farhan', 'Hasan', 'Jefri', 'Lukman', 'Oni', 'Rina'
    ]:
        return 'Laki-Laki'
    else:
        return 'Perempuan'

# sekarang kita masukkan ke Dataframe array di atas yang sudah digenerate random data nya (kecuali Gender dimana kita sudah set kondisi)
data['Gender'] = data['Name'].apply(assign_gender)
data['Alamat'] = random_alamat
data['Pekerjaan'] = random_pekerjaan

# Display Dataframe
print(data)

       Name  Age      City     Gender       Alamat         Pekerjaan
0       Umi   37  Surabaya  Perempuan   Jl. Raya 5  Business Analyst
1      Sari   28  Surabaya  Perempuan   Jl. Raya 3           Akuntan
2       Eko   38     Jambi  Laki-Laki   Jl. Raya 1               PNS
3     Cahya   27     Jambi  Laki-Laki   Jl. Raya 6            Dokter
4     Jefri   36     Jambi  Laki-Laki   Jl. Raya 2           Nelayan
5      Budi   16  Denpasar  Laki-Laki   Jl. Raya 3           Nelayan
6      Gita   37   Jakarta  Perempuan   Jl. Raya 9          Diplomat
7      Budi   24   Jakarta  Laki-Laki   Jl. Raya 5              Guru
8     Nanda   16     Jambi  Perempuan   Jl. Raya 7        Influencer
9     Rizky   36   Jakarta  Laki-Laki  Jl. Raya 10            Petani
10   Lukman   27    Manado  Laki-Laki   Jl. Raya 1            Dokter
11     Mira   37  Denpasar  Perempuan   Jl. Raya 2           Nelayan
12     Budi   16     Jambi  Laki-Laki   Jl. Raya 7            Polisi
13  Kartika   27   Jakarta  Perempuan   Jl. Raya 3          Diplomat
14   Zainal   17  Surabaya  Laki-Laki   Jl. Raya 1    Business Owner
15     Hadi   38  Surabaya  Laki-Laki   Jl. Raya 1            Dokter
16    Hasan   20   Jakarta  Laki-Laki   Jl. Raya 7    Business Owner
17     Dewi   33   Jakarta  Perempuan   Jl. Raya 1    Business Owner
18   Lukman   33    Manado  Laki-Laki   Jl. Raya 2           Nelayan
19     Vina   20  Denpasar  Perempuan   Jl. Raya 5  Business Analyst

# (5) Gunakan Pandas untuk menyaring data dari DataFrame "data" di mana nilai Usia lebih dari 25, dan tampilkan hasilnya

In [167]:
# kita set kondisi di sini dimana age > 25 lalu kita beri nama dataframe filtered_data
filtered_data = data[data['Age'] > 25]

# Displaying dataframe nya
print(filtered_data)

       Name  Age      City     Gender       Alamat         Pekerjaan
0       Umi   37  Surabaya  Perempuan   Jl. Raya 5  Business Analyst
1      Sari   28  Surabaya  Perempuan   Jl. Raya 3           Akuntan
2       Eko   38     Jambi  Laki-Laki   Jl. Raya 1               PNS
3     Cahya   27     Jambi  Laki-Laki   Jl. Raya 6            Dokter
4     Jefri   36     Jambi  Laki-Laki   Jl. Raya 2           Nelayan
6      Gita   37   Jakarta  Perempuan   Jl. Raya 9          Diplomat
9     Rizky   36   Jakarta  Laki-Laki  Jl. Raya 10            Petani
10   Lukman   27    Manado  Laki-Laki   Jl. Raya 1            Dokter
11     Mira   37  Denpasar  Perempuan   Jl. Raya 2           Nelayan
13  Kartika   27   Jakarta  Perempuan   Jl. Raya 3          Diplomat
15     Hadi   38  Surabaya  Laki-Laki   Jl. Raya 1            Dokter
17     Dewi   33   Jakarta  Perempuan   Jl. Raya 1    Business Owner
18   Lukman   33    Manado  Laki-Laki   Jl. Raya 2           Nelayan

# (6) Gunakan Pandas untuk menyaring data dari DataFrame "data" di mana nilai Usia lebih dari 30, dan Gender “Perempuan” serta tampilkan hasilnya.

In [173]:
# kita set kondisi di sini dimana age > 30 dan Gender == 'Perempuan' lalu kita beri nama dataframe filtered_data
filtered_data = data[(data['Age'] > 30) & (data['Gender'] == 'Perempuan')]

# Displaying dataframe nya
print(filtered_data)

    Name  Age      City     Gender      Alamat         Pekerjaan
0    Umi   37  Surabaya  Perempuan  Jl. Raya 5  Business Analyst
6   Gita   37   Jakarta  Perempuan  Jl. Raya 9          Diplomat
11  Mira   37  Denpasar  Perempuan  Jl. Raya 2           Nelayan
17  Dewi   33   Jakarta  Perempuan  Jl. Raya 1    Business Owner

# (7) Tuliskan kode yang menggunakan .loc[] dan .iloc[] untuk mengakses baris ke-3 dan ke-4 beserta kolom yang diminta, lalu tampilkan hasilnya

In [180]:
# Mengakses rows 3 dan 4 dengan .loc[]
rows_loc = data.loc[3:4]

# Display
print(rows_loc)

    Name  Age   City     Gender      Alamat Pekerjaan
3  Cahya   27  Jambi  Laki-Laki  Jl. Raya 6    Dokter
4  Jefri   36  Jambi  Laki-Laki  Jl. Raya 2   Nelayan

In [182]:
# Mengakses rows 3 dan 4 dengan .iloc[]
rows_iloc = data.iloc[3:5]

# Display
print(rows_iloc)

    Name  Age   City     Gender      Alamat Pekerjaan
3  Cahya   27  Jambi  Laki-Laki  Jl. Raya 6    Dokter
4  Jefri   36  Jambi  Laki-Laki  Jl. Raya 2   Nelayan

In [184]:
# Perbedaannya:
# .loc[] itu mencari berdasarkan label, jadi kalau baris ke 3 dan ke 4 ya tulis saja 3:4

# .iloc[] itu mencari berdasarkan integer, jadi kalau melalui index kan python dimulai dari 0 sebagai baris pertama, nah end nya harus ditambahkan satu
# jadi 3:5

# (8) Buat program untuk menghitung rata-rata usia dari DataFrame "data".

In [190]:
average_age = data['Age'].mean()

print(f"Rata-rata usia pada DataFrame data adalah: {average_age}")

Rata-rata usia pada DataFrame data adalah: 28.15

# (9) Gunakan Pandas untuk menyimpan DataFrame "data" ke dalam format file CSV.

In [201]:
#Kita convert dataframe 'data' ke file csv
file_name = 'data.csv'
data.to_csv(file_name, sep=';', index=False)  # Semicolon as delimiter

# Get the current working directory
current_directory = os.getcwd()

# Construct the full file path
full_path = os.path.join(current_directory, file_name)

#Kita beri notifikasi beserta path tersimpan dimana
print(f"DataFrame saved to '{full_path}'")

DataFrame saved to 'C:\Users\horne\GitHub\Eduworks\PythonTasks\data.csv'